<section class="nosotros contenedor">
    <h3 class="nosotros__heading">Nosotros</h3>
    <div class="nosotros__grid ">
        <img class="nosotros__imagen" src="../../../assets/img/nosotros.jpg" alt="nosotros">
        <div class="nosotros__contenido">
            <p class="nosotros__texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, dolor? Quo suscipit, at ex voluptate minima excepturi sint? Doloribus alias quod quisquam, recusandae dolorem tempora dolorum veniam? Earum, vel non.</p>
            <p class="nosotros__texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, dolor? Quo suscipit, at ex voluptate minima excepturi sint? Doloribus alias quod quisquam, recusandae dolorem tempora dolorum veniam? Earum, vel non.</p>
        </div>
    </div>
</section>
