<section class="cursos">
    <div class="cursos__grid contenedor">
        <div class="cursos__content ">
            <h3 class="cursos__heading">Aprende a tocar guitarra</h3>
            <p class="cursos__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur velit nostrum perferendis sunt vel ad at? Necessitatibus laboriosam cumque corporis quo. Itaque molestiae corrupti dolores eius provident neque voluptates? Sapiente.</p>
            <a class="cursos__link">Mas informacion</a>
        </div>
    </div>
</section>