<section class="producto">
    <div class="producto__grid contenedor">
        <img class="producto__img" src="../../../assets/img/guitarra_04.jpg">
        <div class="producto__contenido">
            <h3 class="producto__name">VAI</h3>
            <p class="producto__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quae doloremque ad cum id eveniet, quas quidem minima temporibus. Sequi qui est ipsa eveniet cumque iure ea eos? Tempora, pariatur.</p>
            <p class="producto__price">$399</p>
            <form class="producto__form">
                <label class="producto__label">Cantidad: </label>
                <select class="producto__cantidad">
                    <option value="">-- Seleccione --</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>

                <input
                    type="submit"
                    class="producto__agregar-carrito"
                    value="Agregar al Carrito"
                >
            </form>
        </div>
    </div>
</section>