<header class="header">
    <div class="header__contenedor contenedor">
        <div class="header__barra">
            <a class="header__logo">
                <img src="../../../../assets/img/logo.svg" alt="logo" class="header__logo-img">
            </a>

            <app-navigation style="z-index: 1;"></app-navigation>
            
        </div>

        <div class="modelo">
            <h1 class="modelo__heading">Modelo VAI</h1>
            <p class="modelo__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum assumenda voluptas veniam similique, illo rem officia error iusto exercitationem suscipit aut, quisquam adipisci sed, consectetur corrupti. Sunt cumque omnis ipsa?</p>
            <p class="modelo__price">$399</p>
            <a class="modelo__link">Ver producto</a>
        </div>
    </div>

    <img class="header__guitar" src="../../../../assets/img/header_guitarra.png" alt="guitar">
</header>