<section class="blogs">
    <h3 class="blogs__heading">Nuestro Blog</h3>
    <div class="blogs__grid contenedor">

        <div class="blog">
            <img src="../../../assets/img/blog_1.jpg">
            <div class="blog__contenido">
                <h3 class="blog__title">Como elegir tu primera guitarra</h3>
                <p class="blog__meta">20 Noviembre de 2023</p>
                <p class="blog__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, fugiat voluptatem minus expedita ipsa repellendus autem perferendis natus ad dignissimos rem aliquid corporis inventore aliquam accusantium ut. Perspiciatis, similique earum.</p>
                <a class="blog__link">Mas Informacion</a>
            </div>
        </div>

        <div class="blog">
            <img src="../../../assets/img/blog_2.jpg">
            <div class="blog__contenido">
                <h3 class="blog__title">Como elegir tu primera guitarra</h3>
                <p class="blog__meta">20 Noviembre de 2023</p>
                <p class="blog__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, fugiat voluptatem minus expedita ipsa repellendus autem perferendis natus ad dignissimos rem aliquid corporis inventore aliquam accusantium ut. Perspiciatis, similique earum.</p>
                <a class="blog__link">Mas Informacion</a>
            </div>
        </div>

        <div class="blog">
            <img src="../../../assets/img/blog_3.jpg">
            <div class="blog__contenido">
                <h3 class="blog__title">Como elegir tu primera guitarra</h3>
                <p class="blog__meta">20 Noviembre de 2023</p>
                <p class="blog__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, fugiat voluptatem minus expedita ipsa repellendus autem perferendis natus ad dignissimos rem aliquid corporis inventore aliquam accusantium ut. Perspiciatis, similique earum.</p>
                <a class="blog__link">Mas Informacion</a>
            </div>
        </div>

        <div class="blog">
            <img src="../../../assets/img/blog_4.jpg">
            <div class="blog__contenido">
                <h3 class="blog__title">Como elegir tu primera guitarra</h3>
                <p class="blog__meta">20 Noviembre de 2023</p>
                <p class="blog__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, fugiat voluptatem minus expedita ipsa repellendus autem perferendis natus ad dignissimos rem aliquid corporis inventore aliquam accusantium ut. Perspiciatis, similique earum.</p>
                <a class="blog__link">Mas Informacion</a>
            </div>
        </div>

    </div>
</section>