<section class="productos">
    <h2 class="productos__heading">Nuestra Collection</h2>
    <div class="productos__grid contenedor">
        <div class="producto " *ngFor="let producto of productos; index as i">
            <div class="producto__grid">
                <div class="producto__imagen">
                    <img class="producto__img" src="../../../assets/img/guitarra_0{{i+1}}.jpg" alt="producto " *ngIf="i<9">
                    <img class="producto__img" src="../../../assets/img/guitarra_{{i+1}}.jpg" alt="producto" *ngIf="i>=9">
                </div>
                <div class="producto__content">
                    <h3 class="producto__name">{{producto.name}}</h3>
                    <p class="producto__text">{{producto.description}}</p>
                    <p class="producto__price">{{producto.price}}</p>
                    <a class="producto__link" (click)="this._nav.navegacion('producto')">Ver Producto</a>
                </div>
            </div>

        </div>
    </div>
</section>