<section class="blog">
    <div class="blog__grid contenedor">
        <h3 class="blog__title">Como elegir tu primera guitarra</h3>
        <img class="blog__img" src="../../../assets/img/blog_2.jpg">
        <div class="blog__contenido">
            <p class="blog__meta">20 Noviembre de 2023</p>
            <p class="blog__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, fugiat voluptatem minus expedita ipsa repellendus autem perferendis natus ad dignissimos rem aliquid corporis inventore aliquam accusantium ut. Perspiciatis, similique earum.</p>
            <p class="blog__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, fugiat voluptatem minus expedita ipsa repellendus autem perferendis natus ad dignissimos rem aliquid corporis inventore aliquam accusantium ut. Perspiciatis, similique earum.</p>
            <p class="blog__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, fugiat voluptatem minus expedita ipsa repellendus autem perferendis natus ad dignissimos rem aliquid corporis inventore aliquam accusantium ut. Perspiciatis, similique earum.</p>
            <p class="blog__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, fugiat voluptatem minus expedita ipsa repellendus autem perferendis natus ad dignissimos rem aliquid corporis inventore aliquam accusantium ut. Perspiciatis, similique earum.</p>
            <p class="blog__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, fugiat voluptatem minus expedita ipsa repellendus autem perferendis natus ad dignissimos rem aliquid corporis inventore aliquam accusantium ut. Perspiciatis, similique earum.</p>
        </div>
    </div>
</section>